<!-- <tbody>
              <% savingaccounts.forEach((account,index) => { %>
              <tr class="tr-data">
                <th name="savingsAccountId" id="savingsAccountId" style="display: none;"><%= account.id %></th>
                <th class="text-center" scope="row"><%= index + 1 %></th>
                <td  class="text-center num_account">
                  <%= account.account_number %>
                </td>
                <td class="text-center">
                  <input disabled="true" type="date" value="<%= account.issue_date %>">
                </td>
                <td class="text-center fund" >
                  <%= account.funds.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                </td>
                <td class="text-center currency" >
                  <%= account.currency.toUpperCase() %>
                </td>
                <td class="text-center">
                  <%= account.interest_rate * 100 %> %
                </td>
                <td class="text-center">
                  <%= account.term %>
                </td>
                <td class="text-center">
                  <input disabled="true" type="date" value="<%= account.closing_date %>">
                </td>


              </tr>
              <% }) %>
            </tbody> -->