<%- include("PageHeader") %>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="container-fluid mycontainer">
    <div style="height:150px;" class="header">
      <div class="header-title">
        <div class="header-title-img">
          <img src="../../img/logo.png" alt="" />
        </div>
        <div class="header-title-btn">
          <div class="header-title-btn__name">Hello, <%=CustomerName%></div>
          <a href="/logout" class="mybtn test__link" style="background-color: #f14e4e;">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Sign Out
          </a>
        </div>
      </div>
      <%- include('Partials/menu') %> 
    </div>
    <div class="row form gradient-bg">
      <div class="row form gradient-bg">
        <div class="row form-title">
          <h2>Saving Accounts</h2>
          <%- include('ShowMessage') %>
        </div>

        <div style="width: 90%;" class="row ">
          <table id="Saving" class="table table-bordered">
            <thead class="thead-light">
              <tr class="tr-head">
                <th scope="col"></th>
                <th scope="col">Account number</th>
                <th scope="col">Issue date</th>
                <th scope="col">Funds</th>
                <th scope="col">Currency</th>
                <th scope="col">Interest rate</th>
                <th scope="col">Term (months)</th>
                <th scope="col">Closing date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% savingaccounts.forEach((account,index) => { %>
              <tr class="tr-data">
                <th name="savingsAccountId" id="savingsAccountId" style="display: none;"><%= account.id %></th>
                <th class="text-center" scope="row"><%= index + 1 %></th>
                <td  class="text-center num_account">
                  <%= account.account_number %>
                </td>
                <td class="text-center">
                  <input disabled="true" type="date" value="<%= account.issue_date %>">
                </td>
                <td class="text-center fund" >
                  <%= account.funds.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                </td>
                <td class="text-center currency" >
                  <%= account.currency.toUpperCase() %>
                </td>
                <td class="text-center">
                  <%= account.interest_rate * 100 %> %
                </td>
                <td class="text-center">
                  <%= account.term %>
                </td>
                <td class="text-center">
                  <input disabled="true" type="date" value="<%= account.closing_date %>">
                </td>

                <td class="td-status">
                  <div class="status">
                    <% if (new Date().getTime() <= new Date(account.closing_date).getTime()) { %>
                    <i style="color: #f14e4e;" class="fa fa-times-circle">
                    </i>
                    <% } else { %>
                    <i style="color: #7fff00;" class="fa fa-check">
                    </i>
                    <% } %>
                  </div>
                </td>

                <td class="td-status">
                  <div class="status">
                    <div class="action-btn">
                      <button class="btnSaving">
                        <i style="margin: 3px 0px;
                            color: #5f3906;
                            font-size: 1.8vw;" class="fa fa-money"></i>
                      </button>
                    </div>
                  </div>
                </td>


              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>


     

    </div>

    <div style="top:170px" class="edit">
      <%- include('Partials/frmSaving')  %> 
    </div>

  </div>
</body>

<%- include("PageFooter") %>