<%- include("PageHeader") %>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="container-fluid mycontainer">
    <div style="height :100px;" class="row header">
      <div class="header-title">
        <div class="header-title-img">
          <img src="../img/logo.png" alt="" />
        </div>
        <div class="header-title-btn">
          <div class="header-title-btn__name">Hello,Customer</div>
          <a href="/logout" class="mybtn test__link" style="background-color: #f14e4e;">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Sign Out
          </a>
        </div>
      </div>
    </div>
    <%- include('Partials/menu') %>
    <div class="row form gradient-bg">
      <div class="row form-title">

        <h2>Internal Transfer</h2>
        <%- include('ShowMessage') %>
      </div>
      <div class="row form-main">
        <form method="POST" class="form-group">
          <div class="row">
            <label for="sourceID">Select your account</label>
            <select class="form-control" id="sourceID" name="sourceID">
              <% for(var i=0; i<paymentaccounts.length; i++){ %>
              <option><%= paymentaccounts[i].account_number %></option>
              <% } %>
            </select>
          </div>

          <div class="row">
            <label for="destinationID">Input destination account</label>
            <input class="form-control" type="text" placeholder="0" id="destinationID" , name="destinationID">
          </div>

          <div class="row">
            <label for="amount">Select amount</label>
            <select class="form-control" id="amount" name="amount">
              <option>50</option>
              <option>100</option>
              <option>50000</option>
              <option>1000000</option>
              <option>5000000</option>
            </select>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="currency" id="currency" value="vnd" checked>
            <label class="form-check-label" for="vnd">
              VND
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="currency" id="currency" value="usd">
            <label class="form-check-label" for="usd">
              USD
            </label>
          </div>

          <div class="row">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
          </div>


          <div class="row btnsub">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</body>
<%- include("PageFooter") %>
