<%- include("PageHeader") %>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="container-fluid mycontainer">
    <div style="height :100px;" class="row header">
      <div class="header-title">
        <div class="header-title-img">
          <img src="../img/logo.png" alt="" />
        </div>
        <div class="header-title-btn">
          <div class="header-title-btn__name">Hello,Customer</div>
          <a href="/logout" class="mybtn test__link" style="background-color: #f14e4e;">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Sign Out
          </a>
        </div>
      </div>
    </div>
    <%- include('Partials/menu') %>
    <div class="row form gradient-bg">
      <div class="row form-title">

        <h2>Internal Transfer</h2>
        <%- include('ShowMessage') %>
      </div>
      <div class="row form-main">
        <form method="POST" class="form-group">
          <div class="row">
            <label for="account">Select your account</label>
            <select class="form-control" id="account" name="account">
              <% for(var i=0; i<paymentaccounts.length; i++){ %>
              <option><%= paymentaccounts[i].account_number %></option>
              <% } %>
            </select>
          </div>
          <div class="row btnsub">
            <button type="submit" class="btn btn-primary">See history</button>
          </div>
        </form>
      </div>

       <div style="width: 90%; margin-top: 20px;" class="row ">
          <table id="Saving" class="table table-bordered">
            <thead class="thead-light">
              <tr class="tr-head">
                 <tr>
                    <th scope="col"></th>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Source Account</th>
                    <th scope="col">Destination Account</th>
                  </tr>
              </tr>
            </thead>
            <% if (typeof(historyList) !== 'undefined') { %>
             <tbody>
              <% historyList.forEach((account,index) => { %>
              <tr class="tr-data">
                <th name="savingsAccountId" id="savingsAccountId" style="display: none;"><%= account.id %></th>
                <th class="text-center" scope="row"><%= index + 1 %></th>
                <td  class="text-center num_account">
                  <%= account.transcation_id %>
                </td>
                <td class="text-center fund" >
                  <%= account.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') %>
                </td>
                <td class="text-center currency" >
                  <%= account.currency.toUpperCase() %>
                </td>
                <td class="text-center">
                  <%= account.description %>
                </td>
                <td class="text-center">
                  <%= account.date.toLocaleDateString() %>
                </td>
                <td class="text-center">
                  <%= account.SourceID %>
                </td>
                 <td class="text-center">
                  <%= account.DestinationID %>
                </td>
              </tr>
              <% }) %>
            </tbody>
            <% } %>
            
          </table>
        </div>


    </div>
  </div>
</body>
<%- include("PageFooter") %>







